---
permalink: /
title: ""
author_profile: true
redirect_from: 
  - /about/
  - /about.html
---
<!-- Hi! I am Rares Dolga, a PhD student in the [Foundational AI](https://www.ucl.ac.uk/foundational-ai-cdt/foundational-artificial-intelligence-mphilphd) program at UCL, supervised by [Prof. David Barber](http://web4.cs.ucl.ac.uk/staff/D.Barber/pmwiki/pmwiki.php). Before starting my PhD, I worked as a quantitative developer and later as an AI researcher at J.P. Morgan. My work primarily revolves around probabilistic machine learning, with a focus on developing efficient methods for long-sequence generation in both text and multimodal contexts. Checkout my papers below and [blog](/year-archive/) for a deeper dive into my research.  -->
<p>
Hi! I am Rares Dolga, a PhD student in the <a href="https://www.ucl.ac.uk/foundational-ai-cdt/foundational-artificial-intelligence-mphilphd">Foundational AI</a> program at UCL, supervised by <a href="http://web4.cs.ucl.ac.uk/staff/D.Barber/pmwiki/pmwiki.php">Prof. David Barber</a>.
I also work as a part-time research intern at UiPath.
Prior to starting my PhD, I worked as a quantitative developer and later as an AI researcher at J.P. Morgan. My work primarily revolves around probabilistic machine learning, with a focus on developing efficient methods for long-sequence generation in both text and multimodal contexts.
Checkout my papers below and <a href="{{'/year-archive/' | relative_url }}">blog</a> for a deeper dive into my research.
</p>

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
